<html>
 <head>
  <style type="text/css" media="screen">
    @import "/std.css";
  </style>
  <title>ERB test to check <%= @env['SERVER_NAME'] %> setup</title>
 </head>
 <body>
 <h3>Welcome to <%= @env['SERVER_NAME'] %></h3>
 </body>
</html>
