<html>
<head>
  <style type="text/css" media="screen">
    @import "/std.css";
  </style>
 <title>Test submission page for collection <%= collection_id %></title>
</head>
<body>
<h1>Test page for submitting an XML file to the <%= collection_id %> collection</h1>

<form action="/ieids/<%= collection_id %>/" enctype="multipart/form-data" method="post">
<p>
Note: this form doesn't work with safari - use firefox until this issue is resolved.
</p>
<p>
  Select an XML file: <input type="file" name="xmlfile" size="32">
</p>
<div>
<input type="submit" value="Send">
</div>
</form>

</body>
</html>
